<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cahoot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>953824A21CE2EF50006AB773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953824B91CE2EF51006AB773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953824C41CE2EF51006AB773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
